################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/G04_FieldsAroundMe_CPE495-CPE496/FileContentIndex/455e42f9-6b7a-4237-9843-e9566742ba02.vsidx
