################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FAMApp/obj/Release/net8.0-windows
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/FileContentIndex/143743e7-8b5c-4e67-b272-ad1640852cf2.vsidx
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/FileContentIndex/95a4e901-0b68-40d8-bf7c-d4d7af422d2b.vsidx
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/FileContentIndex/eb475978-24b0-4a02-a191-fa640cb28111.vsidx
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/FileContentIndex/eb6452b4-5d21-40d6-a97c-f1bc094c777f.vsidx
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/v17/.wsuo
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/v17/DocumentLayout.backup.json
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/FAMApp/.vs/FAMApp/DesignTimeBuild/.dtbcache.v2
/FAMApp/.vs/FAMApp/FileContentIndex/0c18a117-3f7e-44fa-b746-960efd2189e5.vsidx
/FAMApp/.vs/FAMApp/FileContentIndex/0e186c27-f4c6-4a22-b1f6-6a4aaf6e40ac.vsidx
/FAMApp/.vs/FAMApp/FileContentIndex/1063a9d0-e264-48a6-9106-9b7d089010fd.vsidx
/FAMApp/.vs/FAMApp/v17/.futdcache.v2
/FAMApp/.vs/FAMApp/v17/.suo
/FAMApp/.vs/FAMApp/v17/DocumentLayout.backup.json
/FAMApp/.vs/FAMApp/v17/DocumentLayout.json
/FAMApp/.vs/ProjectEvaluation/famapp.metadata.v9.bin
/FAMApp/.vs/ProjectEvaluation/famapp.projects.v9.bin
/FAMApp/.vs/ProjectEvaluation/famapp.strings.v9.bin
/FAMApp/bin/Debug/net8.0-windows/FAMApp.deps.json
/FAMApp/bin/Debug/net8.0-windows/FAMApp.dll
/FAMApp/bin/Debug/net8.0-windows/FAMApp.exe
/FAMApp/bin/Debug/net8.0-windows/FAMApp.pdb
/FAMApp/bin/Debug/net8.0-windows/FAMApp.runtimeconfig.json
/FAMApp/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FAMApp/obj/Debug/net8.0-windows/apphost.exe
/FAMApp/obj/Debug/net8.0-windows/FAMApp.AssemblyInfo.cs
/FAMApp/obj/Debug/net8.0-windows/FAMApp.AssemblyInfoInputs.cache
/FAMApp/obj/Debug/net8.0-windows/FAMApp.assets.cache
/FAMApp/obj/Debug/net8.0-windows/FAMApp.csproj.BuildWithSkipAnalyzers
/FAMApp/obj/Debug/net8.0-windows/FAMApp.csproj.CoreCompileInputs.cache
/FAMApp/obj/Debug/net8.0-windows/FAMApp.csproj.FileListAbsolute.txt
/FAMApp/obj/Debug/net8.0-windows/FAMApp.csproj.GenerateResource.cache
/FAMApp/obj/Debug/net8.0-windows/FAMApp.designer.deps.json
/FAMApp/obj/Debug/net8.0-windows/FAMApp.designer.runtimeconfig.json
/FAMApp/obj/Debug/net8.0-windows/FAMApp.dll
/FAMApp/obj/Debug/net8.0-windows/FAMApp.Form1.resources
/FAMApp/obj/Debug/net8.0-windows/FAMApp.GeneratedMSBuildEditorConfig.editorconfig
/FAMApp/obj/Debug/net8.0-windows/FAMApp.genruntimeconfig.cache
/FAMApp/obj/Debug/net8.0-windows/FAMApp.GlobalUsings.g.cs
/FAMApp/obj/Debug/net8.0-windows/FAMApp.pdb
/FAMApp/obj/Debug/net8.0-windows/FAMApp.sourcelink.json
/FAMApp/obj/Debug/net8.0-windows/ref/FAMApp.dll
/FAMApp/obj/Debug/net8.0-windows/refint/FAMApp.dll
/FAMApp/obj/FAMApp.csproj.nuget.dgspec.json
/FAMApp/obj/FAMApp.csproj.nuget.g.props
/FAMApp/obj/FAMApp.csproj.nuget.g.targets
/FAMApp/obj/project.assets.json
/FAMApp/obj/project.nuget.cache
/.vs/G04_FieldsAroundMe_CPE495-CPE496_Dev/FileContentIndex
/FAMApp/.vs/FAMApp/FileContentIndex
